body>header  {
  display: flex;
  height: 500px; 
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(60, 166, 214);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: white;
}
@media only screen and (min-width: 1024px) {
  body>header{
   margin-top: 10rem;
   margin-left: 3rem;
   width: 35%;
   background-color: rgb(60, 166, 214);
   background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  }
};

