nav {
  height: 100px;
  background-color: rgb(20, 137, 192);
  color: #FFFFFF;
  position: fixed;
  padding: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
}

/* page title "TWEETER" */
.nav .title {
  font-family: Bungee, cursive;
  font-size: 35px;
  font-weight: 400;
  margin-top: 25px;
}

/* "Write a New Tweet" */
.nav .newTweet {
  font-family: Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  margin-right: 1.5em;
}

/* arrow icon in red */
.nav .arrow {
  color: #FF0000;
}